.container {
  display: flex;
  padding-block: 16px;

  .left {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 500px) {
    flex-direction: column;
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;

    .jobTitle {
      display: flex;
      align-items: center;
      gap: 16px;
    }
  }

  .companyName {
    font-size: 16px;
  }

  .dates {
    color: var(--clr-neutral-light);
  }

  .location {
    color: var(--clr-neutral-light);
  }

  .footer {
    display: flex;
    justify-content: space-between;
    .yearsOfExperience {
      color: var(--clr-neutral-light);
    }
  }

  .rating {
    font-weight: 400;

    .deactiveStar {
      filter: grayscale(1);
    }
  }
}

.container:not(:last-child) {
  border-bottom: 1px solid var(--clr-border);
}

.delete {
  background: var(--clr-error);
  border-radius: var(--border-radius);
  border: 1px solid var(--clr-border);
  font-size: 16px;
  font-weight: 400;
  padding-inline: 4px;
  color: var(--clr-base);
  cursor: pointer;
}
