.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  padding-block: 8px;

  input {
    padding-block: 8px;
    padding-inline: 12px;
    border-radius: 4px;
    width: 100%;
    border: none;
    outline: 1px solid var(--clr-border);

    &:focus {
      outline: 2px solid var(--clr-focus) !important;
    }

    &:hover:not(:focus) {
      outline: 1px solid var(--clr-border-hover);
    }
    
    &::placeholder {
      color: var(--clr-placeholder);
    }
  }
}

.errorInput {
  outline: 1px solid var(--clr-error);
  background-color: var(--clr-error-light);
}

.errorMessage {
  color: var(--clr-error);
  font-size: 14px;
}