@use './utils/reset';

:root {
  --clr-base: #ffffff;

  --clr-neutral: #20262e;
  --clr-neutral-light: #767982;
  --clr-neutral-lighter: #eaeaea;

  --clr-primary: #0caa41;
  --clr-secondary: #1861bf;
  --clr-error: #dc4a3d;
  --clr-error-light: #fff3f2;

  --clr-border: #c4c7cc;
  --clr-border-light: #dee0e3;
  --clr-border-hover: #858c94;
  --clr-focus: #86d7f7;

  --clr-placeholder: #c4c7cc;

  --clr-button: var(--clr-secondary);
  --clr-button-hover: #0c4085;

  --fw-base: 400;
  --fw-bold: 700;
  --fw-bolder: 900;

  --fs-h1: 32px;
  --fs-h2: 28px;
  --fs-h3: 24px;
  --fs-h4: 20px;
}

body {
  background-color: var(--clr-neutral-lighter);
  color: var(--clr-neutral);
}
